<nav>
      <h1>Anasayfa</h1>

      <ul>
            <li><a href="/">Anasayfa'ya git</a></li>
            <li><a href="/about">Hakkında'ya git</a></li>
            <li><a href="/login">Login'e git</a></li>
            <li><a href="/admin">Admine git</a></li>
      </ul>

</nav>