<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head') %>
</head>
<body>
      
      <% let name='ugur' %> 
      <h1>About sayfası..</h1>
      <p> 
            <%= name%>
      </p>


</body>
</html>