<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head') %>
</head>
<body>
      
      <%- include('./inc/nav.ejs') %> 

     <section>
      <% let name='ugur' %> 
      <h1>Yazar  | <%= name %></h1>
      <p> 
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repudiandae, pariatur assumenda, possimus aliquid animi consequatur sit quae asperiores accusamus, minus impedit? Tempora, officia quia accusantium quibusdam reiciendis necessitatibus porro soluta laborum nemo, aliquam eius, dolores reprehenderit hic ad! Excepturi unde debitis voluptatibus velit architecto accusantium aperiam inventore fugit eos!
      </p>
      <p> 
            
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repudiandae, pariatur assumenda, possimus aliquid animi consequatur sit quae asperiores accusamus, minus impedit? Tempora, officia quia accusantium quibusdam reiciendis necessitatibus porro soluta laborum nemo, aliquam eius, dolores reprehenderit hic ad! Excepturi unde debitis voluptatibus velit architecto accusantium aperiam inventore fugit eos!
      </p>

     </section>

</body>
</html>