<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head.ejs')%>
</head>
<body>
      
    <%- include('./inc/nav.ejs') %>

    <section>
        <h1>Yazılar</h1>
        <ul>
            <li><a href="#">
                Blog 1</a>  
                <p>Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet.</p>        
            </li>

            <li><a href="#">
                Blog 2</a>  
                <p>Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet.</p>        
            </li>

            <li><a href="#">
                Blog 3</a>  
                <p>Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet.</p>        
            </li>

            <li><a href="#">
                Blog 4</a>  
                <p>Lorem ipsum Lorem ipsum Lorem ipsum dolor sit amet.</p>        
            </li>
        </ul>
    </section>

</body>
</html>