<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('./inc/head') %>
</head>
<body>
      
      <%- include('./inc/nav.ejs') %> 

<section>
      <h2>Login Form</h2>
      <form action="" method="POST">
            <input type="text" name='username' placeholder='Kullanıcı adını Giriniz' required>
            <input type="password" name='password' placeholder='Parola Giriniz' required>
            <input type="submit" value='Gönder' class='btn' id="btn-green" >         
      </form>

</section>

</body>
</html>