body {
      background-color:#fff;
}

nav {
      display:flex;
      flex-direction:row;
      justify-content:space-around;
      border-bottom:3px solid #000;
}

nav ul {
      display:flex;
      flex-direction: row;
      list-style: none;
}

nav ul li {
      margin-right:2rem;
      
}

nav ul li a {
      border: 2px solid black;
      padding: .8rem;
      border-radius: .4rem;
      text-decoration:none;
      
      color:#000;
      font-size:1.2rem;
      font-weight: 500;
}


nav ul li a:hover {
      background-color:#df4f4a;
      color:white;
      transition:all 0.4s ease-in-out;
}


section {
      max-width:800px;
      margin:2.3rem auto;
}

form {
      display:flex;
      flex-direction:column;
      max-width:20rem;
      margin:2.5rem auto;
}

form input {
      margin-bottom: .8rem;
      padding:.8rem .9rem;
}



#btn {
      padding:.5rem .4rem;
      border:1px solid black;
      border-radius: .6rem;
      text-decoration: none;
      color:white;
      background-color:#0D6EFD;
}

#btn:hover {
      padding:.5rem .4rem;
      border:1px solid black;
      border-radius: .6rem;
      text-decoration: none;
      color:white;
      background-color:#044bb6;
      cursor:pointer;
}

#btn-green{
      padding:.5rem .4rem;
      border:1px solid black;
      border-radius: .6rem;
      text-decoration: none;
      color:white;
      background-color:#5be731;
}


#btn-green:hover {
      padding:.5rem .4rem;
      border:1px solid black;
      border-radius: .6rem;
      text-decoration: none;
      color:white;
      background-color:#0f700f;
      cursor:pointer;
}